@{
    ViewBag.Title = "Diploma Options";
}

<div class="jumbotron">
    <h1>Diploma Options</h1>
    <p class="lead">Please log in to continue.</p>
    <div class="row">
        <div class="col-xs-12 text-center">
            @Html.ActionLink("Log in", "Login", "Account", new { }, new { @class = "btn btn-primary"} )
        </div>
    </div>
</div>