
    <div class="container body-content">
        <h2>Log in</h2>
        <div class="row">
            <div class="col-md-8">
                <section id="loginForm">
                    <form class="form-horizontal" method="post" role="form">
                        <h4>Please log in to your account.</h4>
                        <hr />
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="Username">User Name</label>
                            <div class="col-md-10">
                                <input class="form-control" ng-model="user.username" data-val="true" data-val-maxlength="The field User Name must be a string or array type with a maximum length of &#39;9&#39;." data-val-maxlength-max="9" data-val-required="The User Name field is required." id="Username" name="Username" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Username" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="Password">Password</label>
                            <div class="col-md-10">
                                <input class="form-control" ng-model="user.password" data-val="true" data-val-required="The Password field is required." id="Password" name="Password" type="password" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    <input data-val="true" data-val-required="The Remember me? field is required." id="RememberMe" name="RememberMe" type="checkbox" value="true" /><input name="RememberMe" type="hidden" value="false" />
                                    <label for="RememberMe">Remember me?</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button class="btn btn-default" ng-click="loginUser()">Log In</button>
                            </div>
                        </div>
                        <p>
                            <a href="#/register">Register as a new user</a>
                        </p>
                    </form>
                </section>
            </div>
        </div>
    </div>